<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="APP_NAME">learning-sqlparser</Property>
        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss}] [%X{requestId}] [%thread] %-5level %logger{40} [%L] %msg%n</Property>
        <Property name="APP_LOG_ROOT">./logs</Property>
    </Properties>

    <CustomLevels>
        <!--注意 ：intLevel 值越小，级别越高 （log4j2 官方文档），这个要放在Properties标签下面-->
        <CustomLevel name="CUSTOMER" intLevel="50" />
    </CustomLevels>

    <Appenders>
        <!-- Console Appender -->
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>